playground/GDELT/todelete/
playground/GDELT/.RData
playground/GDELT/.Rhistory
playground/MParravani/CL.csv
playground/MParravani/credentials.py
data/CL.csv
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6_readme.txt
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.shx
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.shp.xml
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.shp
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.sbn
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.prj
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.dbf
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.sbx
playground/GDELT2/.ipynb_checkpoints/
playground/GDELT2/todelete/
playground/GDELT2/data/
