playground/GDELT/todelete/
playground/GDELT/.RData
playground/GDELT/.Rhistory
playground/MParravani/CL.csv
playground/MParravani/credentials.py
data/CL.csv
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6_readme.txt
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.shx
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.shp.xml
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.shp
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.sbn
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.prj
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.dbf
playground/MParravani/neighbourhood_planning_areas_utm6/NEIGHBOURHOODS_UTM6.sbx
playground/GDELT2/.ipynb_checkpoints/
playground/GDELT2/todelete/
playground/GDELT2/data/
playground/Craigslist_Rental/neighbourhoods_planning_areas_wgs84/TSNS 2020 NEI Methodological Documentation-Final.docx
playground/Craigslist_Rental/neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84_readme.txt
playground/Craigslist_Rental/neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.shx
playground/Craigslist_Rental/neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.shp.xml
playground/Craigslist_Rental/neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.shp
playground/Craigslist_Rental/neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.prj
playground/Craigslist_Rental/neighbourhoods_planning_areas_wgs84/NEIGHBORHOODS_WGS84.dbf
playground/GDELT3/gta-news/.idea/
playground/GDELT3/data/
playground/GDELT3/gta-news/doc2vec/__pycache__/
playground/GDELT3/notebooks/.ipynb_checkpoints/
playground/GDELT2/model5.gensim.state
playground/GDELT2/model5.gensim.id2word
playground/GDELT2/model5.gensim.expElogbeta.npy
playground/GDELT2/dictionary.gensim
playground/GDELT2/model5.gensim
playground/GDELT2/corpus.pkl
playground/GDELT3/gta-news/doc2vec/data/gdelt-zips/
playground/GDELT3/gta-news/doc2vec/data/gta-gdelt-corpus/
playground/GDELT3/gta-news/doc2vec/data/gta-gdelt-data/
playground/GDELT3/gta-news/doc2vec/data/tmp/
playground/GDELT3/gta-news/doc2vec/data/todelete/
playground/GDELT3/gta-news/doc2vec/data/news-dataset.txt
playground/GDELT3/gta-news/doc2vec/data/news-dataset-huffington.model
